.boton-scroll {
  position: fixed;
  bottom: calc(3.6rem + $margin * 2);
  right: $margin;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px $marronClaro;
  background-color: $blanco;
  transition: $transitionTime right;

  .icono-scroll {
    color: $marronClaro;
  }
  
  &.oculto {
    right: -3.6rem;
  }

  &:hover {
    cursor: pointer;
    background-color: $marronClaro;
    
    .icono-scroll {
      color: $blanco;
    }
  }


  &.oscuro {
    background-color: $marronClaro;
    border-color: $blanco;

    .icono-scroll {
      color: $blanco;
    }

    &:hover {
      background-color: $blanco;

      .icono-scroll {
        color: $marronClaro;
      }
    }
  }
}