.boton-darkmode {
  cursor: pointer;
  border: none;
  position: relative;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  border: solid 2px $marronClaro;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blanco;

  .desactivado {
    font-size: calc($mainSize / 1.6);
    color: $blanco;
  }

  .activado {
    position: absolute;
    font-size: calc($mainSize / 1.6);
    color: $marronClaro;
  }

  &:hover {
    background-color: $marronClaro;

    .activado {
      color: $blanco;
    }
  }

  &.oscuro {
    border-color: $blanco;
    background-color: $marronClaro;

    .activado {
      opacity: 0;
    }

    &:hover {
      background-color: $blanco;

      .desactivado {
        color: $marronClaro;
      }
    }
  }
}