.boton-carrito {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  padding: 0 1rem;
  border: none;
  z-index: 2;

  &:hover {
    background-color: blue;
    cursor: pointer;
  }

  &.is-active {
    position: fixed;
  }

  .icono {
    font-size: 2.8rem;

    &:hover {
      color: white;
    }
  }
}

.carrito {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: beige;
  padding: 6rem 0 5rem;
  transition: $transitionTime;

  &.is-active {
    left: 0;
  }

  &.vacio {
    display: flex;
    justify-content: center;
    align-items: center;

    .mensaje-vacio {
      z-index: 1;
    }

    .container-total {
      background: none;
    }
  }
}

.container-bg {
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;

  @media (min-width: 1200px) {
    display: none;
  }
}

.container-listacarrito {
  overflow-y: auto;
  scrollbar-width: thin;
  height: 100%;
}

.container-total {
  background-color: red;
  position: absolute;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  p {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .carrito {
    width: 60%;

    &.is-active {
      left: 40%;
    }
  }
}

@media (min-width: 1200px) {
  .boton-carrito.is-active {
    position: absolute;
  }

  .carrito {
    position: absolute;
    top: -60vh;
    left: unset;
    right: 0;
    width: 40%;
    height: 60vh;
    padding-right: unset;
    padding-top: unset;
    opacity: 0;

    &.is-active {
      top: 100%;
      left: unset;
      opacity: unset;
    }
  }

  .container-listacarrito {
    padding-top: 1rem;
  }
}