.hamburger {
  display: none;
  cursor: pointer;
  border: none;
  width: $buttonHeight;
  height: $buttonHeight;
  padding: $padding;
  background: none;
  z-index: 3;

  &:hover {
    background-color: $amarillo;
    
    .bar, &::before, &::after {
      background-color: $marronOscuro;
    }  
  }

  .bar, &::before, &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: $blanco;
    border-radius: 1rem;
  }

  .bar, &::before {
    margin-bottom: 0.75rem;
  }

  &.is-active .bar {

  }

  &.is-active::before {

  }

  &.is-active::after {

  }
}

.navbar-mobile {
  display: none;
  position: fixed;
  top: 0;
  background-color: $beige;
  z-index: 2;
  height: 100%;
  width: 100%;
  right: 100%;
  transition: $transitionTime right;
  padding: ($buttonHeight + $margin) 0 0;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: $padding;
    color: $marronOscuro;
    font-size: calc($secondSize / 1.6);
    height: $buttonHeight;

    &:nth-child(even) {
      background-color: darken($beige, 10);
    }

    &:nth-child(odd) {
      background-color: darken($beige, 5);
    }

    &:hover {
      background-color: lighten($amarillo, 5);
    }

    .icono {
      margin-right: $margin;
      font-size: calc($mainSize / 1.6);
    }
  }

  &.is-active {
    right: 0%;
  }

  .container-bg {
    background-color: $rojo;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $buttonHeight;
  }
}

@media (min-width: 768px) {
  .hamburger {
    order: -1;
  }

  .navbar-mobile {
    width: 60%;

    &.is-active {
      right: 40%;
    }
  }
}

@media (max-width: 1200px) {
  .hamburger,
  .navbar-mobile {
    display: unset;
  }
}

.hamburger-footer {
  position: absolute;
  bottom: 0;
  background-color: darken($beige, 10);
  width: 100%;
  height: $buttonHeight;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-weight: bold;
    color: $marronOscuro;
  }
}

.container-barbecue {
  width: $buttonHeight;
  height: $buttonHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  color: $blanco;

  .logo {
    font-size: calc($mainSize / 1.6 * 1.06);
  }

  p {
    font-size: calc($mainSize / 2.4);
    font-family: $fuenteLogo;
    font-weight: bold;
  }
}

.container-darkmode {
  position: absolute;
  right: $margin;
  bottom: calc($buttonHeight + $margin);
  
  .boton-darkmode {
    cursor: pointer;
    border: none;
    position: relative;
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    border: solid 2px $marronOscuro;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

    .desactivado {
      font-size: calc($mainSize / 1.6);
      color: $blanco;
      opacity: 0;
    }

    .activado {
      position: absolute;
      font-size: calc($mainSize / 1.6);
      color: $marronOscuro;
    }
  }

  &.oscuro {
    .boton-darkmode {
      border-color: $blanco;

      .desactivado {
        opacity: unset;
      }

      .activado {
        opacity: 0;
      }
    }
  }
}

.navbar-mobile.oscuro {
  background-color: $marronOscuroDM;

  .container-bg {
    background-color: $marronClaro;
  }

  a {
    color: $blanco;

    &:nth-child(even) {
      background-color: $marronClaroDM;
    }

    &:nth-child(odd) {
      background-color: $marronClaro2DM;
    }

    &:hover {
      background-color: $marronClaro;
    }
  }

  .hamburger-footer {
    background-color: $marronClaro2DM;

    p {
      color: $blanco;
    }
  }
}