.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: calc($transitionTime * 1.6);

  position: absolute;
  left: 0;

  &.derecha {
    &.mas-uno {
      left: 100%;
      z-index: -1;
    }

    &.menos-uno {
      left: -100%;
    }  
  }

  &.izquierda {
    &.mas-uno {
      left: 100%;
    }

    &.menos-uno {
      left: -100%;
      z-index: -1;
    }
  }
}