.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: $transitionTime;

  position: absolute;
  left: 0;
  z-index: 0;

  &.mas-uno {
    left: 100%;
    z-index: -1;
  }

  &.menos-uno {
    left: -100%;
    z-index: -1;
  }
}