.indicador {
  background-color: greenyellow;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 1.2rem;
  border-radius: 50%;

  &.is-active {
    background-color: red;
  }

  &:last-of-type {
    margin-right: unset;
  }
}