.no-resultados {
  max-width: 112rem;
  margin: 0 auto;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &.oscuro {
    color: $blanco;
  }
}

.container-cards {
  display: grid;
  grid-template-columns: 
    repeat(auto-fill, minmax(min(100%, 360px), 1fr));
  gap: $margin;
  max-width: 112rem; // 36rem cada card + 2 * 2rem column gap
  margin: 0 auto;
  padding: 0 $padding;

  @media (min-width: 1200px) {
    padding: unset;
  }
}
