.no-resultados {
  font-size: $secondSize;
  font-weight: bold;
  max-width: 112rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-cards {
  display: grid;
  grid-template-columns: 
    repeat(auto-fill, minmax(min(100%, 360px), 1fr));
  column-gap: 2rem;
  row-gap: 1rem;
  max-width: 112rem; // 36rem cada card + 2 * 2rem column gap
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 1200px) {
    padding: unset;
  }
}
