.plato-card {
  padding: $padding;
  background-color: aquamarine;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .container-img {
    display: flex;
    position: relative;
    margin-bottom: $margin;

    .img-plato {
      width: 100%;
      border-radius: 4px;
    }

    .precio-plato {
      position: absolute;
      background-color: antiquewhite;
      padding: $padding;
      border-radius: 4px;
      bottom: $margin;
      left: $margin;
      font-weight: bold;
    }
  }

  .container-infoplato {
    margin-bottom: $margin * 2;

    .nombre-plato {
      margin-bottom: $margin;
    }

    .descripcion-plato {
      text-align: justify;
    }
  }

  .container-input-botones {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    .input-botones {
      display: flex;
      justify-content: center;
      margin-bottom: $margin;
    }
  }
}

.input-botones .input {
  width: $buttonHeight;
  text-align: end;
  margin-right: $margin;
  margin-left: $margin;
}