.container-searchbar {
  display: flex;
  height: 3rem;

  .input,
  .boton {
    border: none;
    background-color: bisque;
  }

  .input {
    outline: none;
    padding-left: 2rem;
    height: 5rem;
    position: absolute;
    right: 100%;
    top: 5rem;
    width: 100%;
    transition: calc($transitionTime / 2);
    z-index: 1;

    &.is-active {
      right: 0;
    }
  }

  .boton {
    height: 3rem;
    width: 3rem;
    border-radius: 4px;
    margin-left: 1rem;
  }

  // Código para remover la X del input

  .input::-ms-clear {
    display: none;
    width : 0;
    height: 0;
  }

  .input::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
  }

  .input::-webkit-search-decoration,
  .input::-webkit-search-cancel-button,
  .input::-webkit-search-results-button,
  .input::-webkit-search-results-decoration {
    display: none;
  }
}

@media (min-width: 768px) {
  .container-searchbar {
    margin-right: auto;
    margin-left: 1rem;
    
    .input,
    .boton {
      border: none;
      background-color: #fff;
    }
  
    .input {
      border-radius: 2rem 0 0 2rem;
      padding-left: 2rem;
      outline: none;
      position: unset;
      height: unset;
    }
  
    .boton {
      border-radius: 0 2rem 2rem 0;
      padding-right: 2rem;
      margin-left: unset;
    }
  
    // Código para remover la X del input
  
    .input::-ms-clear {
      display: none;
      width : 0;
      height: 0;
    }
  
    .input::-ms-reveal {
      display: none;
      width : 0;
      height: 0;
    }
  
    .input::-webkit-search-decoration,
    .input::-webkit-search-cancel-button,
    .input::-webkit-search-results-button,
    .input::-webkit-search-results-decoration {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .container-searchbar {
    margin: unset;
    width: 30%;
    padding-bottom: 1rem;
    height: 4rem;
  }
}