.container-searchbar {
  display: flex;
  background-color: yellow;
  height: $buttonHeight - (2 * $margin);

  .input {
    border: none;
    outline: none;
    padding-left: $padding;
    height: $buttonHeight;
    position: absolute;
    right: 100%;
    top: $buttonHeight;
    width: 100%;
    transition: $transitionTime;
    z-index: 1;

    &.is-active {
      right: 0;
    }
  }

  .boton {
    border: none;
    z-index: 1;
    width: $buttonHeight;
    height: $buttonHeight;
    position: relative;
    top: -$margin;
    cursor: pointer;
  }

  // Código para remover la X del input

  .input::-ms-clear {
    display: none;
    width : 0;
    height: 0;
  }

  .input::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
  }

  .input::-webkit-search-decoration,
  .input::-webkit-search-cancel-button,
  .input::-webkit-search-results-button,
  .input::-webkit-search-results-decoration {
    display: none;
  }
}

@media (min-width: 768px) {
  .container-searchbar {
    margin-right: auto;
    margin-left: $margin;
    
    .input,
    .boton {
      border: none;
      background-color: #fff;
    }
  
    .input {
      border-radius: 2rem 0 0 2rem;
      outline: none;
      position: unset;
      height: unset;
    }
  
    .boton {
      border-radius: 0 2rem 2rem 0;
      padding-right: $padding;
      height: unset;
      width: unset;
      position: unset;

      &:hover {
        background-color: blue;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container-searchbar {
    margin: unset;
    width: 30%;
  }
}