html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: $fuentePrincipal;
}

h1, h2, h3, p, a, button {
  margin: 0;
  font-size: 1.6rem;
}

// Código para ignorar el ancho del scrollbar

@media (min-width: 1200px) {
  html {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    width: 100vw;
  }

  body > * {
    /* overflow-y: scroll; */
    margin-right: -100px;
    padding-right: 100px;    
  }
}