// Colores

$amarillo: #F2A007;
$naranja: #BF5A1F;
$marronClaro: #590202;
$marronOscuro: #260401;
$rojo: #A60303;
$blanco: #fff;
$negro: #222;
$gris: #999;

// Fonts

$fuentePrincipal: "Roboto", sans-serif;

// Font Sizes

$mainSize: 3.6rem;  // dividido 1.6 para teléfono
$secondSize: 3rem;  // dividido 1.6 para teléfono
$thirdSize: 1.6rem; // dividido 1.06 para teléfono

// Media Queries

$telefono: 360px;
$tablet: 768px;
$desktop: 1200px;

// Transition Time

$transitionTime: 0.4s;

// Margin

$margin: 1.2rem;
$padding: 1.2rem;

// Button height

$buttonHeight: 6rem;
$lowPriority: 4.2rem