// Fonts

$fuentePrincipal: "Roboto", sans-serif;
$fuenteCantidad: "Angkor", serif;

// Font Sizes

$mainSize: 3rem;
$secondSize: 2rem;

// Media Queries

$telefono: 480px;
$tablet: 834px;
$desktop: 1600px;

// Transition Time

$transitionTime: 0.5s;

// Letter Spacing

$letterSpacing: 0.4rem;