.main {
  padding: 0 0 $padding;
  background-color: $beigeOscuro;
  min-height: 100vh;
  position: relative;

  .container-titulo {
    padding: 0 $padding;
    margin-bottom: $margin;
  }

  .titulo-menu,
  .titulo-promos {
    max-width: 112rem;
    margin: 0 auto;
    padding-top: $padding;
    font-family: $fuenteLogo;
    font-size: $secondSize;
    color: $marronClaro;
    border-bottom: solid 1px;

    &.oscuro {
      color: $blanco;
    }

    @include desktop {
      font-size: calc($secondSize * 1.6);
    }
  }

  .red-social.wp {
    position: fixed;
    bottom: $margin;
    right: $margin;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;

    .icono {
      color: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.oscuro {
    background-color: $marronOscuroDM;
  }

  .main-darkmode {
    position: fixed;
    bottom: calc(3.6rem * 2 + $margin * 3);
    right: $margin;
    transition: $transitionTime;

    &.moverse {
      bottom: calc(3.6rem + $margin * 2);
    }
  }
}

@media (max-width: $desktop) {
  .main-darkmode {
    display: none;
  }
}

.container-promos {
  display: grid;
  max-width: 112rem;
  margin: 0 auto $margin;
  
  .promo {
    cursor: pointer;
    display: flex;

    img {
      width: 100%;
    }
  }
}

@include tablet {
  .container-promos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include desktop {
  .container-promos {
    padding: unset;
    column-gap: $margin;

    .promo img {
      border-radius: 4px;
    }
  }
}