.header {
  background-color: $marronClaro;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-header {
  display: flex;
  align-items: center;
  max-width: 112rem;
  margin: 0 auto;
  position: relative;

  .navbar-desktop {
    display: none;

    a {
      text-decoration: none;
      color: $beige;
      padding: $padding;
      height: $buttonHeight;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &:hover {
        background-color: $rojo;
      }
    }
  }
}

.container-logo {
  position: fixed;
  top: 0;
  right: $buttonHeight;
  width: $buttonHeight;
  height: $buttonHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    color: lighten(orangered, 5);
    font-size: calc($mainSize / 1.6 * 1.06);
  }
  
  .nombre {
    font-family: $fuenteLogo;
    font-size: calc($mainSize / 2.4);
    color: lighten($amarillo, 10);
  }
}

@include telefono {
  .container-logo {
    width: calc($buttonHeight * 2);

    .nombre {
      display: none;
    }

    &::after {
      content: 'Viandas Viking';
      font-family: $fuenteLogo;
      color: lighten($amarillo, 10);
      font-size: calc($mainSize / 2.4);
      font-weight: bold;
    }
  }
}

@media (min-width: 1200px) {
  .container-aux {
    height: calc($buttonHeight * 1.6);
    background-color: $marronClaro;
  }

  .container-logo {
    position: absolute;
    width: 100%;
    height: calc($buttonHeight * 1.6);
    left: 0;
    top: calc($buttonHeight * (-1.6));
    transition: $transitionTime;

    .logo {
      font-size: $mainSize;
    }

    &::after {
      font-size: $mainSize;
    }

    &.is-scrolled {
      width: $buttonHeight;
      height: $buttonHeight;
      top: 0;

      .logo {
        font-size: calc($mainSize / 1.6 * 1.06);
      }

      &::after {
        content: 'VK';
        font-size: calc($mainSize / 2.4);
      }
    }
  }

  .container-header {
    height: $buttonHeight;
    justify-content: space-evenly;

    .navbar-desktop {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
  }
}