.header {
  background-color: lightseagreen;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-header {
  display: flex;
  align-items: center;
  max-width: 112rem;
  margin: 0 auto;
  background-color: red;
  position: relative;

  .navbar-desktop {
    display: none;

    a {
      text-decoration: none;
      background-color: greenyellow;
      padding: $padding;
      height: $buttonHeight;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &:hover {
        background-color: lightblue;
      }
    }
  }
}

.container-logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $buttonHeight;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .container-aux {
    height: $buttonHeight;
    background-color: palevioletred;
  }

  .container-logo {
    position: absolute;
    width: $buttonHeight;
    height: $buttonHeight;
    top: -$buttonHeight;
    margin: 0 auto;
    background-color: green;
    transition: $transitionTime;

    &.is-scrolled {
      right: 100%;
      top: 0;
    }
  }

  .container-header {
    height: $buttonHeight;
    justify-content: space-evenly;

    .navbar-desktop {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
  }
}