.header {
  background-color: lightseagreen;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-header {
  display: flex;
  align-items: center;
  max-width: 112rem;
  margin: 0 auto;
  background-color: red;
  position: relative;

  .navbar-desktop {
    display: none;

    a {
      text-decoration: none;
      color: #000;
      background-color: greenyellow;
      padding-bottom: 1rem;
      padding-top: 1rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &:hover {
        background-color: blue;
      }
    }
  }
}

.container-logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    font-size: $secondSize;
  }
}

@media (min-width: 768px) {
  .container-logo {
    position: unset;
    height: unset;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container-aux {
    height: 10rem;
    background-color: palevioletred;
  }

  .container-logo {
    position: absolute;
    height: 5rem;
    width: 5rem;
    right: 45%;
    top: -7.5rem;
    background-color: green;
    transition: $transitionTime;

    .logo {
      font-size: 5rem;
      transition: $transitionTime;
    }

    &.is-scrolled {
      right: 100%;
      top: 0;

      .logo {
        font-size: 2rem;
      }
    }
  }

  .container-header {
    height: 5rem;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: unset;

    .navbar-desktop {
      width: 42rem;
      display: flex;
      justify-content: space-around;
    }
  }
}