.container-infocontacto {
  background-color: $rojo;

  .info-delivery,
  .info-contacto {
    padding: $padding;
  }

  .info-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      line-height: 1.6;
      color: $beige;
    }
  }
}

.info-contacto {
  display: grid;
  grid-template-columns: 40% auto;

  h2 {
    padding-bottom: $padding;
    grid-column: 1 / 3;
    border-bottom: solid 1px;
    color: $beige;
  }

  .container-redessociales {
    grid-column: 1 / 3;
    order: -1;
    display: flex;
    justify-content: center;
    margin-bottom: calc($margin * 2);
  }

  .red-social {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $margin;
    border: solid 1px $gris;
    
    &:last-child {
      margin-right: unset;
    }

    &:hover {
      border-color: $blanco;
      cursor: pointer;
    }
  
    &.fb, &.ig,
    &.yt, &.tw {
      background-color: $blanco;
  
      &:hover .icono {
        color: $blanco;
      }
    }
  
    .icono {
      color: $gris;
    }
  
    &.fb:hover {
      background-color: #1877f2;
    }
  
    &.ig:hover {
      background-image: linear-gradient(45deg, #fcaf45, #f77737, #c13584, #833ab4);
    }
  
    &.yt:hover {
      background-color: #ff0000;
    }
  
    &.tw:hover {
      background-color: #000;
    }
  }

  .container-lista {
    .lista {
      list-style: none;
      padding: 0;
      margin: $margin 0;
    }

    li {
      margin-bottom: calc($margin / 2);
    
      &:last-of-type {
        margin-bottom: unset;
      }
    }

    a {
      text-decoration: none;
      font-size: calc($mainSize / 3);
      color: $beige;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 280px) {
  .container-lista:last-child .lista {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (min-width: 360px) {
  .info-contacto {
    .container-lista:last-of-type {
      margin-left: auto;
    }
  }
}

@media (min-width: 540px) {
  .info-contacto {

    h2, .container-redessociales {
      grid-column: unset;
    }

    h2 {
      display: flex;
      align-items: center;
    }

    .container-redessociales {
      order: unset;
      margin-bottom: unset;
      border-bottom: 1px solid $beige;
      justify-content: flex-end;
      padding-bottom: $padding;
    }

    .container-lista {
      margin: 0 auto;

      .lista {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (min-width: 1200px) {
  .info-delivery,
  .info-contacto {
    max-width: 112rem;
    margin: 0 auto;
  }
}