.plato-card {
  max-width: 480px;
  background-color: aquamarine;
  border-radius: .4rem;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .container-img-precio {
    width: 100%;
    position: relative;
    
    img {
      width: 100%;
      border-radius: .4rem;
    }

    .plato-precio {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      background-color: antiquewhite;
      padding: .75rem;
      border-radius: .4rem;
      font-weight: 700;
    }
  }

  .plato-nombre {
    font-weight: 700;
    font-size: $mainSize;
    margin: 1rem 0;
    height: 7rem;
  }

  .plato-descripcion {
    font-size: $secondSize * .9;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .label {
    display: block;
    text-align: center;
    margin-bottom: .7rem;
    text-transform: uppercase;
    margin-top: auto;
    letter-spacing: $letterSpacing;
  }

  .boton-anadir {
    border: none;
    padding: 1rem;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: $letterSpacing;

    &:hover {
      cursor: pointer;
    }
  }
}

.container-input-botones {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;

  .boton, 
  .input-cantidad {
    border: none;
    font-family: $fuenteCantidad;
    font-size: $mainSize;
    height: 4rem;
    border-radius: 4px;
  }

  .boton { 
    width: 4rem;
  }

  .input-cantidad {
    width: 7rem;
    text-align: center;
  }
}